body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

header {
  background-color: #547980;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 1.1em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.tick {
  font-size: 0.8em;
}

.bar {
  fill: steelblue;
}
